/*p{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}*/

/*.parrafo{
    text-align: center;
    font-style: italic;
    font-weight: bold;
}*/

*{
    margin:0;
}

.titulo{
    background-color: BlueViolet;
    margin: 20px;
}

.parrafo{
    background-color: crimson;
    padding-top: 50px;
    padding-left: 10px;
    padding-bottom: 60px;
    padding-right: 300px;
}

footer{
    background-color: GoldenRod;
    padding: 10px 20px 30px 40px;
    margin: 10px 200px;
}

.logo{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.imagen{
    width: 50%;
    margin: 0 auto;
}
.imagen img{
    width: 100%;
}
